@model List<Jewelly.Models.AdminLoginMst>
@{
    ViewBag.Title = "Manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="title--admin">Admin Manager</h2>
<hr class="mx-5" />
<div class="search--group">
    <a href="" class="btn btn-primary btn--add"><i class="fa fa-plus"></i> Administrator</a>
    <form>
        <input type="text" placeholder="Name" class="form-control btn--search" />
        <input type="submit" class="btn btn-primary btn--submit--admin" value="Search"/>
    </form>
</div>
<hr class="mx-5" />
<div class="container-fluid container--left">
    @foreach (var item in Model)
    {
        <div class="row mb-3">
            <div class="col-md-3">
                <img src="@item.Path_avt@item.Avatar" class="img--admin"/>
            </div>
            <div class="col-md-5">
                <p class="name--admin">@item.Name_employee</p>
                <p class="state--admin"><i class="fas fa-circle"></i> Online</p>
                <p class="user--admin"><i class="fas fa-user icon--admin"></i> @item.userName</p>
                <p><i class="fas fa-phone icon--admin mt-2"></i>@item.Phone</p>
                <p><i class="fas fa-calendar-alt icon--admin mt-2"></i>@item.Birthday</p>
                <p><i class="fas fa-envelope icon--admin mt-2"></i>@item.Email</p>
                <p><i class="fas fa-map-marker-alt icon--admin mt-2"></i>@item.Address</p>
            </div>
            <div class="col-md-3">
                <a href="/Admin/Administrator/Edit/@item.userName" class="btn btn-warning edit--admin"><i class="fas fa-pen"></i> Edit</a>
                <a href="" class="btn btn-danger edit--admin delete--admin mt-2"><i class="fas fa-trash"></i> Delete</a>
                <a href="" class="btn btn-primary edit--admin change--admin mt-2"><i class="fas fa-cog"></i> Change Password</a>
            </div>
            <hr />
        </div>
    }
</div>
